<%- include('../includes/start') %>
<style>
    /* .timetableSection .subCode {}

    .timetableSection .type {}

    .timetableSection .teacherCode {} */
</style>
<%- include('../includes/headBody') %>
<section class="p-5" id="timetableSection">
    <h1 class="p-3 themeColor text-center">Time Table</h1>
    <div class="container-fluid text-center">
        <div class="timetableContainer">
            <div class="row">
                <% let i, j; %>
                <% for (i = 0; i < 5; i++) { %>
                <% for (j = 0; j < 12; j++) { %>
                <% let bgColor = 'grey'; %>
                <% if (timetable[i][j] === null) { %>
                <% bgColor = 'grey'; %>
                <% } else { %>
                <% if (timetable[i][j].status === 'cancel') { %>
                <% bgColor = 'red'; %>
                <% } else { %>
                <% bgColor = 'green'; %>
                <% } %>
                <% } %>
                <div class="col-1 ttBoxContainer">
                    <div class="ttBox" style="background-color: <%= bgColor %>">
                        <span class="location">
                            <%= timetable[i][j] === null ? 'Break' : timetable[i][j].location %>
                        </span>
                        <br>
                        <span class="subCode">
                            <%= timetable[i][j] === null ? '' : timetable[i][j].subCode %>
                        </span>
                        <br>
                        <span class="type">
                            <%= timetable[i][j] === null ? '' : timetable[i][j].type %>
                        </span>
                        <br>
                        <span class="teacherCode">
                            <%= timetable[i][j] === null ? '' : timetable[i][j].teacherCode %>
                        </span>
                        <br>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
        </div>
    </div>
</section>


<%- include('../includes/end') %>